.DS_Store
*.xcodeproj
*.xcworkspace

# Private Files
passphrase
/Configurations/Decrypted/
/AibaShop/**/Config.swift


## App packaging
.local_derived_data/
*.ipa
*.dSYM.zip
*.dSYM
*.mobileprovision
build
.build/

## Fastlane
fastlane/README.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output